@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #F4F2F3;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  display: inline;
  margin: 10px;
}

a{
  text-decoration: none;
}
